:root {
  --primary-color: #14141F;
  --primary-color-rgb: 20, 20, 31;

  --secondary-color: #10d2e8;
  --secondary-color-2: #2e00c3cd;
  --secondary-color-rgb: 197, 38, 157;
  --secondary-color-rgb-2: 131, 100, 226;
}